name: Auto Generate Vimdoc
on:
  push:
    branches: [main]
    paths:
      - README.md
      - .github/workflows/vimdocgen.yml
permissions:
  contents: write
jobs:
  docs:
    runs-on: ubuntu-latest
    name: Convert Markdown to Vimdoc
    steps:
      - uses: actions/checkout@v4
      - uses: kdheepak/panvimdoc@main
        with:
          vimdoc: copilot.lua # Output vimdoc project name (required)
          version: "NVIM v0.11.0" # Vim version number
          description: "Fully featured & enhanced replacement for copilot.vim complete with API for interacting with Github Copilot" # Project description used in title (if empty, uses neovim version and current date)
          titledatepattern: "%d %B, %Y" # Pattern for the date that used in the title
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          add-paths: |
             doc/*
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          base: master
          branch: create-pull-request/autogenerate-vimdoc
          commit-messssage: "chore: auto generate docs"
          reviewers: MunifTanjim,zbirenbaum,AntoineGS
          title: "Auto Generate Docs"
